@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*@Author Satish Borkar*/

*,
:before,
*:after {
    margin: 0;
    padding: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

a,
a:hover,
a:active,
a:focus {
    color: #0071bc;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    border-bottom: 2px solid #000;
}

strong {
    font-weight: 600;
}

p,
ul.list-square li {
    font-size: 14px;
    line-height: 22px;
}

.page-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

ul.null,
ul.null>li {
    list-style: none;
    list-style-type: none;
    margin: 0;
}

ul.null>li,
.row {
    width: 100%;
    float: left;
}

ul.null>li {
    display: block;
    padding: 30px 0;
}

ul.null>li::after,
.row {
    content: "";
    clear: both;
}

ul.list-square,
ul.list-square li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

ul.list-square li {
    padding-left: 15px;
    padding-bottom: 10px;
    position: relative;
}

ul.list-square li::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 2px solid #333;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 8px;
}

.brdr {
    position: relative;
    border-bottom: 1px solid #333;
}

.header {
    padding: 10px 0;
    position: relative;
    border-bottom: 4px solid transparent;
}

.header::after,
.brdr:after {
    content: "";
    display: block;
    position: absolute;
    width: 25%;
    height: 0;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    right: 0;
    bottom: -4px;
}

.header::after {
    bottom: -4px;
    /* right: 0; */
    border-bottom: 4px solid #0071bc;
    display: none;
}

.brdr:after {
    left: 0;
    bottom: -1px;
    border-top: 1px solid #0071bc;
}

.side-bar {
    display: block;
    float: left;
}

.content-panel {
    float: right;
}

.side-bar {
    width: 25%;
}

.content-panel {
    width: 75%;
}

.profile-photo img {
    display: inline-block;
    text-align: center;
    max-width: 185px;
    max-height: 185px;
    border-radius: 185px;
}

.header-info {
    text-align: right;
}

.theme-color {
    color: #0071bc;
}

.bold {
    font-weight: 400;
}

.section-title {
    display: inline-block;
    padding: 7px 15px;
    background-color: #0071bc;
    color: #fff;
    position: relative;
    border-radius: 3px;
}

.organization-title {
    color: #0071bc;
    font-weight: 600;
}

@media screen {
    a.scroll-top {
        display: block;
    }
}

a.scroll-top {
    width: 60px;
    height: 30px;
    background-color: #0071bc;
    position: fixed;
    bottom: 7%;
    right: 3%;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    display: none;
}

a.scroll-top:hover {
    text-decoration: none;
    border-bottom: 0;
    background-color: #333;
}

a.quick-go {
    display: block;
    width: 40px;
    height: 25px;
    padding: 5px;
    background-color: #0071bc;
    position: fixed;
    top: 10px;
    right: 10px;
    -o-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -khtml-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

a.quick-go .hr {
    display: block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 3px;
    border-bottom: 2px solid #fff;
}

a.quick-go:hover,
a.quick-go:focus,
a.quick-go.active {
    background-color: #333;
    border-bottom: 0;
}

a.quick-go:hover .hr,
a.quick-go:focus .hr,
a.quick-go.active .hr {
    border-bottom: 2px solid #fff;
}

.quick-go-section {
    display: none;
    background-color: #333;
    width: 250px;
    height: auto;
    min-height: 80px;
    position: fixed;
    top: 40px;
    right: 10px;
}

ul.quick-go-section {
    padding: 15px !important;
}

ul.quick-go-section,
ul.quick-go-section li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.quick-go-section a {
    display: block;
    width: 100%;
    height: auto;
    padding: 7px;
    color: #fff;
    border-bottom: 0;
    font-size: 14px;
    border-bottom: 1px solid #333;
}

.quick-go-section li:last-child a {
    border-bottom: 0;
}

.quick-go-section a:hover,
.quick-go-section a:focus {
    background-color: #0071bc;
}

table.tbl,
table.tbl tr th {
    border-left: 1px solid rgb(33, 32, 32);
    border-top: 1px solid rgb(33, 32, 32);
    border-collapse: collapse;
}

table.tbl tr th,
table.tbl tr td {
    border-right: 1px solid rgb(33, 32, 32);
    border-bottom: 1px solid rgb(33, 32, 32);
    font-size: 14px;
    padding: 7px;
    text-align: left;
}

table.tbl tr th {
    background-color: rgb(115, 111, 111);
    color: #fff;
    border-right-color: rgb(33, 32, 32);
    border-bottom-color: rgb(33, 32, 32);
}

.divider {
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
}

.divider-double {
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.data-list {}

.data-list dt,
.data-list dd {
    display: inline-block;
    float: left;
    padding: 3px;
    margin-bottom: 5px;
}

.data-list dt {
    width: 20%;
    position: relative;
    font-weight: 400;
}

.data-list dt::after {
    content: ":";
    display: block;
    width: 5px;
    height: 20px;
    vertical-align: middle;
    position: absolute;
    right: 7px;
    top: 3px;
}

.data-list dd {
    width: 80%;
}

.label {
    display: inline-block;
    padding: 4px 7px;
    font-size: 13px;
    position: relative;
}

.label.before::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-right-color: #0071bc;
    position: absolute;
    left: -22px;
    top: 1px;
}

.blue {
    background-color: #0071bc;
    color: #fff;
}

.pull-right {
    float: right;
}

.force-page-new {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    ul.list-square li {
        padding-bottom: 0;
        margin-top: 10px;
    }

    .page-container {
        padding: 10px;
        width: 100%;
    }

    .profile-photo {
        display: none;
    }

    ul.null>li {
        padding: 10px 0;
    }

    .side-bar,
    .content-panel,
    .data-list dt,
    .data-list dd {
        width: 100%;
    }

    .section-title {
        display: block;
    }

    .content-panel p,
    .content-panel ul.list-square {
        padding-left: 15px;
    }

    a.quick-go,
    .quick-go-section {
        left: 10px;
    }

    .tbl-res {
        width: 100%;
        overflow: auto;
    }

    .data-list dt {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .data-list dt::after {
        content: " ";
    }
}

@media screen {

    .header::before,
    .section-title,
    .blue,
    a.scroll-top,
    .quick-go-section,
    .quick-go {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        border-radius: 3px;
    }

    .quick-go-section a {
        border-bottom-color: #c9c4c4;
        transition: 200ms;
    }

    .quick-go-section a:hover,
    .quick-go-section a:focus,
    .quick-go-section a:active {
        border-radius: 3px;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 7s ease infinite;
    }

    .label.before::before {
        display: none;
    }

    .organization-title,
    a.linkedIn {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media print {
    @page {
        size: auto;
        /* auto is the initial value */
        margin: 10px 40px;
        /* this affects the margin in the printer settings */
    }

    *,
    *:before,
    *:after {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
    }

    .profile-photo {
        display: none;
    }

    ul.list-square li,
    ul.list-square li a,
    table.tbl tr td,
    table.tbl tr th,
    p {
        font-size: 12px;
    }

    body {
        font-size: 12px !important;
        line-height: 18px;
        font-family: "Roboto", sans-serif;
    }

    .quick-go-section,
    a.quick-go,
    a.scroll-top {
        display: none !important;
    }

    .profile-photo img {
        width: 50%;
    }

    .side-bar {
        width: 20%;
    }

    .content-panel {
        width: 80%;
    }

    .section-title {
        position: relative;
        color: #fff !important;
        background: transparent !important;
        font-size: 12px;
        padding: 7px !important;
        z-index: 10;
        font-weight: 400;
        border-radius: 3px;
    }

    .section-title::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 22px solid #333;
        z-index: -2;
        position: absolute;
        left: 2px;
        top: -5px;
    }

    .header::after,
    .brdr:after {
        width: 20%;
    }

    .blue {
        background-color: transparent !important;
        color: #fff !important;
    }

    ul.list-square li {
        padding-bottom: 5px !important;
    }

    .label.before::before,
    .label.before::after {
        display: none;
    }

    .page-break-print {
        page-break-after: always !important;
    }

    .brdr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    table.tbl tr th {
        border-bottom: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-top: 1px solid #ccc !important;
        color: #000 !important;
        text-align: left !important;
    }

    .header {
        border-bottom-color: #000 !important;
    }

    .pagebreak {
        page-break-before: always;
    }

    .force-page-new {
        height: 250px;
    }

    /* page-break-after works, as well */
}